# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
dist/
build/
out/

# Turbo
.turbo/

# Env files
.env
.env.local
.env.*.local
!.env.example
!**/.env.example

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Misc
*.pem
.vercel
